<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing Page</title>
</head>
<body>
	<main>
    	{% for f in files %}
			<h2>
				<a href="{{f.adminupload.url}}" download="{{f.adminupload.url}}"
				 class="file_grp" id="{{ f.id }}">{{ f.adminupload.name }}</a>
			</h2>
			<h2>			
				<a href="{{f.adminupload.url}}" download="{{f.adminupload.url}}"
				class="file_grp" id="{{ f.id }}">{{ f.adminupload.name }}</a>
			</h2>
	    {% endfor %}
	</main>
</body>
</html>